.landing {
    background-color: rgb(245, 115, 115);
    margin-bottom: 50px;
    width: 500px;
    min-height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    margin-bottom: 8px;
    width: 220px;
}